<h1 class="ui horizontal divider header">
  <i class="music note icon"></i>
  Billboards
</h1>
<br />
<div class="ui feed">
<% @boards.each do |board| %>
<div class="ui small feed">
<h5 class="ui header">
  <% if board.name != "No-list" %>
    <h5>  
      <%= link_to  board.name, board_path(board.id) %>
    </h5>
    <hr />
    <% end%>
</h5>
<div class="event">
  <div class="content">
    <div class="summary">
      </div>
    </div>
  </div>
</div>
<% end %>
<%= link_to "Add a new board", new_board_path, class: "ui button green" %>