<div class="ui menu">
    <div class="header item">
      <%= link_to  "Billboard Application", root_path, class:"header", style:
      "color: black" %>
    </div>
    <%= link_to  "Artists", artists_path, class:"item" %>
    <%= link_to  "Billboards", boards_path, class:"item" %>
    <div class="right menu">
      <%= link_to  "Add Artist", new_artist_path, class:"item align-right" %>
    </div>
  </div>